@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  @apply rounded px-3 py-2 font-bold;
}
.btn-blue {
  @apply bg-green-600 text-white;
}
.btn-blue:hover {
  @apply bg-green-700;
}
